p, h1 {
    text-align: center;
}

#one:hover {
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
}

#one:active {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
} 

#two:hover {
    background-color: royalblue;
}

#one #two {
    list-style: none;
}