h1{
    font-size: 65px;
    color: orange;
}

#lista01{
    background-color: darkcyan;
    
}

.class01{
    background-color: rgb(69, 245, 69);
}

#am{
    color: yellow;
}
#ve{
    color: red;
}
#ma{
    color: brown;
}